/*Admin*/
#furtherCmsNavTree {
    float: left;
    margin-right: 25px;
    width: 20%;
    overflow: scroll;
    padding-bottom: 15px;
}

#modules-edit {
    float: left;
    width: 70%;
}

#modules-edit input {
    width: 100%
}

section#modules-edit div#button-status, section#modules-edit div#last-saved {
    visibility: hidden;
}

.plugin\.furthercms\.category\.urlkey\.label, section#modules-edit div#button-status, section#modules-edit div#last-saved {
    font-size: small;
    color: #a9a9a9;
    font-style: italic;
}

section#modules-edit div#button-status, section#modules-edit div#last-saved {
    float: right;
    clear: right;
    margin-right: 1%;
}

.plugin\.furthercms\.category\.urlkey\.label {
    margin-top: -20px;
    margin-bottom: 10px;
}

div.control-group label.control-label {
    float: left;
    width: 100%;
    text-align: left;
}

form div.control-group div.controls {
    margin-left: 0;
}

section#modules-edit a {
    float: right;
}

section#modules-edit a.save {
    margin-left: 1%;
}

/*Errors*/
section#modules-edit section.module div.errors {
    clear: right;
}

input.error, select.error, textarea.error {
    background: #fff3f3;
    border-color: #ffaaaa;
}