#furtherCmsNavTree {
    float: left;
    margin-right: 25px;
    width: 20%;
    overflow: scroll;
    padding-bottom: 15px;
}

#main-editable-content {
    float: left;
    width: 70%;
}

#main-editable-content input {
    width: 100%
}

.plugin\.furthercms\.category\.urlkey\.label {
    margin-top: -20px;
    margin-bottom: 10px;
    font-size: small;
    color: #a9a9a9;
    font-style: italic;
}

div.control-group label.control-label {
    float: left;
    width: 100%;
    text-align: left;
}

form div.control-group div.controls {
    margin-left: 0;
}